<form action="/create_item_from_restaurant" method="post">

  <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @item.name %>">
  </div>

  <div class="form-group">
    <label for="vegetarian">
      Vegetarian
    </label>
    <input id="vegetarian" class="form-check-input" name="vegetarian" type="checkbox" <%= "checked" if @item.vegetarian %>>
  </div>

  <div class="form-group">
    <label for="vegan">
      Vegan
    </label>
    <input id="vegan" class="form-check-input" name="vegan" type="checkbox" <%= "checked" if @item.vegan %>>
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @item.description %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create item
  </button>
</form>
