<% if @restaurant.errors.any? %>
  <% @restaurant.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit restaurant #<%= @restaurant.id %>
</h1>

<hr>

<form action="/update_restaurant/<%= @restaurant.id %>" method="post">

  <div class="form-group">
    <label for="cuisine">
      Cuisine
    </label>

    <input type="text" id="cuisine" name="cuisine" class="form-control" value="<%= @restaurant.cuisine %>">
  </div>

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control" value="<%= @restaurant.location %>">
  </div>

  <div class="form-group">
    <label for="website">
      Website
    </label>

    <input type="text" id="website" name="website" class="form-control" value="<%= @restaurant.website %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update restaurant
  </button>
</form>

<hr>

<a href="/restaurants">
  Go back
</a>
