<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Restaurant #<%= @restaurant.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/restaurants" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link restaurant start -->
      <div class="col">
        <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit restaurant
        </a>
      </div>
      <!-- Edit link restaurant end -->

      <!-- Delete link restaurant start -->
      <div class="col">
        <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-block btn-outline-secondary">
          Delete restaurant
        </a>
      </div>
      <!-- Delete link restaurant end -->
    </div>

    <dl>
      <dt>
        Cuisine
      </dt>
      <!-- Display cuisine start -->
      <dd>
        <%= @restaurant.cuisine %>
      </dd>
      <!-- Display cuisine end -->

      <dt>
        Location
      </dt>
      <!-- Display location start -->
      <dd>
        <%= @restaurant.location %>
      </dd>
      <!-- Display location end -->

      <dt>
        Website
      </dt>
      <!-- Display website start -->
      <dd>
        <%= @restaurant.website %>
      </dd>
      <!-- Display website end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@restaurant.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@restaurant.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "restaurant_templates/restaurant_items" %>
  </div>
</div>
<!-- Show Page Customization end -->
