<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All reviews
    </h1>

    <a href="/reviews/new" class="btn btn-block btn-outline-secondary">
      Add a new review
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "review_templates/reviews_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Item
        </th>

        <th>
          User
        </th>

        <th>
          Picture
        </th>

        <th>
          Review
        </th>

        <th>
          Rating
        </th>

        <th>
          Orderagain
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @reviews.each do |review| %>
      <tr>
        <td>
          <%= review.id %>
        </td>

        <td>
          <% if review.item.present? %>
            <a href="/items/<%= review.item.id %>">
              <%= review.item.restaurant_id %>
            </a>
          <% end %>
        </td>

        <td>
          <% if review.user.present? %>
            <a href="/users/<%= review.user.id %>">
              <%= review.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <img src='<%= review.picture %>' class='img-fluid'>
        </td>

        <td>
          <%= review.review %>
        </td>

        <td>
          <%= review.rating %>
        </td>

        <td>
          <%= review.orderagain %>
        </td>

        <td>
          <%= review.name %>
        </td>

        <td>
          <%= time_ago_in_words(review.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(review.updated_at) %> ago
        </td>

        <td>
          <a href="/reviews/<%= review.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @reviews, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
