<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Review #<%= @review.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/reviews" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @review.user %>
          <a href="/reviews/<%= @review.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit review
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @review.user %>
          <a href="/delete_review/<%= @review.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete review
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Item
      </dt>
      <dd>
        <% if @review.item.present? %>
          <a href="/items/<%= @review.item_id %>">
            <%= @review.item.restaurant_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @review.user.present? %>
          <a href="/users/<%= @review.user_id %>">
            <%= @review.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Picture
      </dt>
      <dd>
        <img src="<%= @review.picture %>" class="img-fluid">
      </dd>

      <dt>
        Review
      </dt>
      <dd>
        <%= @review.review %>
      </dd>

      <dt>
        Rating
      </dt>
      <dd>
        <%= @review.rating %>
      </dd>

      <dt>
        Orderagain
      </dt>
      <dd>
        <%= @review.orderagain %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @review.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@review.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@review.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

